*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
/* body{
    background:gray;
} */
/* ========================================Menu bar======================== */
.logo-img{
    width:30%;
    height:35%;
}
#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:0.6s;
    padding:20px 60px;
    z-index: 100000;
}
#header.sticky{
    padding:10px 20px;
    background:#fff;
}
#header .logo{
    position:relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition:0.6s;
}
#header .ule{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .ule .nav-item{
    position:relative;
    list-style-type: none;
}
#header .ule .nav-item .nav-link{
    position:relative;
    margin:0 15px;
    text-decoration: none;
    color:ivory;
    letter-spacing: 2px;
    font-weight: 500;
    transition:0.6s;
}
#header.sticky .logo,
#header.sticky .ule .nav-item .nav-link{
    color:#000;
}
/* =================================section 1======================= */
.banner{
    position:relative;
    width:100%;
    height:120vh;
    background:url("../images/001.jpg");
    background-size: cover;
}
.txt{
    position:absolute;
    top:280px;
    left:180px;
    color:ivory;
    font-size:30px;
}
.txt-typing{
 animation:type 4s steps(20);
animation-iteration-count: infinite;
 overflow:hidden;
 white-space: nowrap;
 border-right:4px solid black;
 width:16ch;
 font-size: 30px;
 color:black;
 position:absolute;
 top:370px;
 left:190px;
}
@keyframes type {
    0%{
        width:0ch;
    }
    100%{
        width:16ch;
    }
}
.sociolinks{
    color:red;
    position:relative;
    top:450px;
    left:190px;
    padding:15px;
    margin:10px;
    border:1px solid red;
    border-radius:50px;
}
/* ==============================================  CONTAINER 1 ================================== */
.container1{
    margin:80px 0px;
}
.inner-txt{
    font-size: 15px;
    color:gray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:10;
    margin:10px 90px;
}
.iner-txt{
    font-size: 15px;
    color:gray;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight:10;
    margin:20px 10px;
}
.txt-container{
    font-size:23px;
    color:black;
    text-transform: uppercase;
    margin:10px 90px;
    letter-spacing: 5px;
}
.about{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.img-about{
    width:430px;
    height:480px;
    border:2px solid red;
    margin:0px 30px;
}
.txt-about{
    width:700px;
    margin:10px;
    border:2px solid red;
}
.title-about{
    font-size:20px;
    color:black;
    /* letter-spacing: 1px; */
    margin:20px 5px;
}
.span{
    animation: typing 3s steps(16);
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    width:16ch;
    border-right:3px solid red;
    color:red;
}
@keyframes typing{
    0%{
        width:0ch;
    }
    100%{
        width:16ch;
    }
}
.para{
    text-align: justify;
    line-height: 25px;
    color:gray;
    margin:18px 5px;
    font-size:15px;
}
.info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:500px;
    margin:20px 30px;
}
b{
    font-size:13px;
    font-weight:1;
    color:gray;
    letter-spacing: 1px;
}
.lii{
    margin:20px 0px;
    list-style-type: none;
}
.btn{
    margin:20px 50px;
}
.btn1{
    padding:15px;
    background:black;
    color:#fff;
    font-size:15px;
    border-radius: 50px;
}
.btn2{
    padding:15px;
    background:#fff;
    color:black;
    font-size:15px;
    border-radius: 50px;
    border:2px solid black;
    margin:0px 10px;
}
/* ===================================CONTAINER 2======================== */
.container2{
    margin:150px 0px;
    background:gray;
    padding:120px 0px;
}
.skills{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.txt-skills{
    width:500px;
}
.parag{
    color:black;
    font-size:15px;
    text-align: justify;
    line-height: 25px;
}
.progress-bar{
    width:100%;
    height: auto;
     max-width:600px;
     padding:0 10px;
}
.skill-name{
    font-size:14px;
    color:#f1f1f1;
    text-transform:uppercase;
    margin:10px 0px;
}
.skill-bar{
    height:7px;
    background:#282828;
    border-radius:3px;
}
.skill-per{
    height:7px;
    background:#d13639;
    border-radius:3px;
    position:relative;
    animation:fillBars 2.5s 1;
}
.skill-per::before{
    content:attr(per);
    position:absolute;
    padding :4px 6px;
    background:#f1f1f1;
    border-radius:4px;
    font-size:12px;
    top:-35px;
    right:0;
    transform:translate(50%);
}
.skill-per::after{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background:#f1f1f1;
    top:-20px;
    right:0;
    transform:translateX(50%) rotate(45deg);
    border-radius:2px;
}
@keyframes fillBars{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

/* =====================================CONTAINER 3================================ */
.container3{
    margin:80px 0px;
    padding:20px 0px;
}
.flexbox{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 18px;
        grid-row-gap: 30px; 
        justify-items: center;
        align-items: stretch;
}
.box{
    width:350px;
    height:350px;
    border:2px solid red;
    background:ivory;
    border-radius:20px;
}
.box:hover{
    margin-top:-10px;
    transition:0.5s;
    background:orange;
}
.h3-service{
    text-align:left;
    padding:0px 5px;
    font-size:20px; 
    letter-spacing: 5px; 
}
.icon i{
    width: 130px;
    height:100px;
}
.p-service{
    text-align: center;
    font-size: 15px;
    color:gray;
    padding:30px 0px;
    line-height: 20px;
}

/* ===================================CONTAINER 4====================================== */
.container4{
    background:gray;
    margin:80px 0px;
    padding:80px 0px;
}
 .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: stretch;
    margin:40px 0px;
 }
.single-team{
    width:350px;
    height:400px;
    padding:24px;
    position:relative;
    display:flex;
    align-items:flex-end;
    transition:.6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.single-team:hover{
    transform:translateY(20px);
}
.single-team:hover:before{
    opacity:1;
}
.single-team:hover .team-text{
    opacity:1;
    transform:translateY(0);
}
.single-team:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:linear-gradient(to top,#000,transparent);
    z-index:2;
    transition:0.5s;
    opacity:0;
}
.single-team .img-over{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
}
.single-team .team-text{
    position:relative;
    z-index:3;
    color:#fff;
    opacity:0;
    transform:translateY(60px);
    transition:0.5s;
}
.team-text .h2-txt{
    margin:0;
    letter-spacing:3px;
}
.team-text .p-txt{
    letter-spacing: 1px;
    font-size:15px;
    margin-top:8px;
}
.btn-more{
    padding:25px;
    background:black;
    color:#fff;
    font-size:15px;
    border-radius: 50px;
    margin:0% 42%;
    width:13%;
}
/* ======================================CONTAINER 5 ================================= */
.container5{
    background:#ff676d;
    padding:20px 0px;
}
.reference{
    height:600px;
    width:100%;
    position:relative;
}
.slide-row{
    display: flex;
    width:3200px;
    transition:0.5s;
}
.slide-col{
    width:800px;
    height:400px;
    position:relative;
}
.user-img{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:65%;
}
.user-img .img-ref{
    height:100%;
    width:65%;
    margin:0px 120px;
    border-radius:10px;
}
.user-text{
    background:#2d3a59;
    width:500px;
    height:280px;
    position:relative;
    top:50%;
    left:0;
    transform:translateY(-50%);
    border-radius:10px;
    color:#d3d4d6;
    padding:45px;
    z-index:2;
}
.user-text .p-ref{
    font-size:18px;
    line-height: 24px;
}
.user-text .h3-ref{
    margin:35px 0px 5px;
    color:#fff;
}
.container{
    width:800px;
    height:400px;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.indicator{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-20%;
}
.btn-ref{
    display:inline-block;
    height:15px;
    width:15px;
    margin:4px;
    border-radius:15px;
    background:#000;
    cursor:pointer;
    transition:0.5s;
}
.active{
    width:45px;
}
.testimonial{
    width:100%;
    height:100%;
    overflow: hidden;
}
/* =====================================CONTAINER 6====================== */
.container6{
    background:ivory;
    margin:100px 0px;
}
.container-card{
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    width:300px;
    margin:30px 20px;
    border:1px solid gray;
    border-radius:10px;
}
.img-card{
    height:250px;
    width:300px;
}
.imgBx{
    height:250px;
    width:300px;
}
.content-card .h4-card{
    text-align: center;
    letter-spacing: 2px;
    padding:10px 0px;
}
.content-card .p-card{
text-align: center;
padding:7px 15px;
font-size:15px;
}
.btn-card{
    padding:10px;
    background:black;
    color:#fff;
    border-radius:20px;
    margin:5px 10px;
    float:right;
}
/* ====================================================CONTAINER 7===================================== */
.container7{
    background:gray;
    padding:100px 0px;
}
.contact{
    display:flex;
    justify-content: center;
    align-items:center;
}
.main-address{
    display:flex;
    flex-direction: column;
    width:350px;
}
.form-contact{
    display:flex;
    flex-direction:column;
    width:750px;
}
.form,.name,.email{
    display:flex;
    justify-content: left;
    align-items:center;
    margin:20px 5px;
}
.main-address,.location,.phones,.emails{
    margin:20px 20px;
}
.location{
    border:1px solid red;
}
.phones{
    border:1px solid red;
}
.emails{
    border:1px solid red;
}