*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
/* body{
    background:gray;
} */
/* ========================================Menu bar======================== */
.logo-img{
    width:30%;
    height:35%;
}
#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:0.6s;
    padding:20px 60px;
    z-index: 100000;
}
#header.sticky{
    padding:10px 20px;
    background:#fff;
}
#header .logo{
    position:relative;
    font-weight: 700;
    color:#000;
    text-decoration: none;
    font-size:2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition:0.6s;
}
#header .ule{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
#header .ule .nav-item{
    position:relative;
    list-style-type: none;
}
#header .ule .nav-item .nav-link{
    position:relative;
    margin:0 15px;
    text-decoration: none;
    color:ivory;
    letter-spacing: 2px;
    font-weight: 500;
    transition:0.6s;
}
#header.sticky .logo,
#header.sticky .ule .nav-item .nav-link{
    color:#000;
}
/* =================================section 1======================= */
.banner{
    position:relative;
    width:100%;
    height:120vh;
    background:url("../images/001.jpg");
    background-size: cover;
}
.txt{
    position:absolute;
    top:280px;
    left:180px;
    color:ivory;
    font-size:30px;
}
.txt-typing{
 animation:type 4s steps(20);
animation-iteration-count: infinite;
 overflow:hidden;
 white-space: nowrap;
 border-right:4px solid black;
 width:16ch;
 font-size: 30px;
 color:black;
 position:absolute;
 top:370px;
 left:190px;
}
@keyframes type {
    0%{
        width:0ch;
    }
    100%{
        width:16ch;
    }
}
.sociolinks{
    color:red;
    position:relative;
    top:450px;
    left:190px;
    padding:15px;
    margin:10px;
    border:1px solid red;
    border-radius:50px;
}
/* ==============================================  CONTAINER 1 ================================== */
.container1{
    margin:80px 0px;
}
.inner-txt{
    font-size: 15px;
    color:gray;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:10;
    margin:10px 90px;
}
.iner-txt{
    font-size: 15px;
    color:gray;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight:10;
    margin:20px 10px;
}
.txt-container{
    font-size:23px;
    color:black;
    text-transform: uppercase;
    margin:10px 90px;
    letter-spacing: 5px;
}
.about{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.img-about{
    width:430px;
    height:480px;
    border:2px solid red;
    margin:0px 30px;
}
.txt-about{
    width:700px;
    margin:10px;
    border:2px solid red;
}
.title-about{
    font-size:20px;
    color:black;
    /* letter-spacing: 1px; */
    margin:20px 5px;
}
span{
    animation: typing 3s steps(16);
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    width:16ch;
    border-right:3px solid red;
    color:red;
}
@keyframes typing{
    0%{
        width:0ch;
    }
    100%{
        width:16ch;
    }
}
.para{
    text-align: justify;
    line-height: 25px;
    color:gray;
    margin:18px 5px;
    font-size:15px;
}
.info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:500px;
    margin:20px 30px;
}
b{
    font-size:13px;
    font-weight:1;
    color:gray;
    letter-spacing: 1px;
}
.lii{
    margin:20px 0px;
    list-style-type: none;
}
.btn{
    margin:20px 50px;
}
.btn1{
    padding:15px;
    background:black;
    color:#fff;
    font-size:15px;
    border-radius: 50px;
}
.btn2{
    padding:15px;
    background:#fff;
    color:black;
    font-size:15px;
    border-radius: 50px;
    border:2px solid black;
    margin:0px 10px;
}
/* ===================================CONTAINER 2======================== */
.container2{
    margin:150px 0px;
    background:gray;
    padding:120px 0px;
}
.skills{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.txt-skills{
    width:500px;
}
.parag{
    color:black;
    font-size:15px;
    text-align: justify;
    line-height: 25px;
}
.progress-bar{
    border:2px solid red;
    width:550px;
    height:250px;
    margin:10px;
}

/* =====================================CONTAINER 3================================ */
.container3{
    margin:80px 0px;
    padding:20px 0px;
}
.flexbox{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 18px;
        grid-row-gap: 30px; 
        justify-items: center;
        align-items: stretch;
}
.box{
    width:350px;
    height:350px;
    border:2px solid red;
    background:gray;
    border-radius:20px;
}
.box:hover{
    margin-top:-10px;
    transition:0.5s;
    background:orange;
}


/* ===================================CONTAINER 4====================================== */
.container4{
    background:gray;
    margin:80px 0px;
    padding:20px 0px;
}
 .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: stretch;
 }
 .overlay{
     margin:50px 0px;
     height:350px;
     width:350px;
     border:2px solid red;
     transform: translate(-50%, -50%);
 }
 .img-1{
     height:350px;
     width:350px;
 }
 .txt-over{
     /* position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0; */
     opacity: 0;
     transition: opacity 0.4s ease-in-out;
     background:black;
     cursor:pointer;
 }
 .over{
     /* position:absolute;
     top:50%;
     left:50%; */
     transform: translate(-50%, -50%);
     color:ivory;
     font-family:sans-serif;
     text-align:center;
 }
 .overlay:hover .txt-over{
     opacity: 0.8;
 }